services:
  web:
    image: ghcr.io/cookbookio/awsome-recipe-cookbook:latest
    ports:
      - "80:80"
    environment:
      - FLASK_ENV=production
    env_file:
      - .env
    restart: unless-stopped
