version: '3.8'

services:
  web:
    image: ghcr.io/${DOCKER_GITHUB_USERNAME}/awsome-recipe-cookbook:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5001:5001"
    environment:
      - FLASK_ENV=production
