version: '3.8'

services:
  web:
    build:
      context: ..
      dockerfile: src/Dockerfile
    ports:
      - "5001:5001"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
